@import "@/styles/variables";

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $background-color;
  color: $white-color;
  font-size: 2em;

  :global(.pong-ball) {
    border-radius: 100%;
    position: absolute;
    background-color: $primary-color;
  }

  :global(.pong-paddle) {
    position: absolute;
    background-color: $primary-color;
  }

  :global(.scoreboard) {
    z-index: 1;
    position: absolute;
    top: 0.5em;
    color: $white-color;
    font-size: 2em;
  }

  :global(.divider) {
    width: 0;
    height: 100%;
    border: 2.5px dashed darken($background-color, 5%);
  }
}

.game-not-ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  color: $white-color;
  font-size: 2em;

  :global(.scoreboard) {
    position: absolute;
    top: 0.5em;
    left: calc(50%);
    transform: translate(-50%, 0);
    color: $white-color;
    font-size: 2em;
  }
}
